.app.light {
  --gb-color: #d5cece;
  --inverted-gb-color: #0d0d72;

  --primary-color: #2929e0;
  --secondary-color: #6f6ffa;
  --inverted-primary-color: #2cef2c;
  --inverted-secondary-color: #61d761
}